@charset "UTF-8";
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Times", serif;
}

.boton-primario {
  background-color: #0dcaf0;
  padding: 15px;
  color: #212529;
  border-radius: 8px;
}

.boton-secundario {
  background-color: #198754;
  padding: 15px;
  color: #212529;
  border-radius: 8px;
}

.boton-peligro {
  background-color: #dc3545;
  padding: 15px;
  color: #212529;
  border-radius: 8px;
}

.boton-oscuro {
  background-color: #212529;
  padding: 15px;
  color: #212529;
  border-radius: 8px;
}

.boton-amarillo {
  background-color: #ffc107;
  padding: 15px;
  color: #212529;
  border-radius: 8px;
}

body {
  font-family: "Onest", sans-serif;
  font-family: "Quicksand", sans-serif;
}

.navegacion {
  width: 100%;
  height: 20%;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navegacion .logo--container {
  display: flex;
  width: 10%;
  align-items: center;
  justify-content: space-around;
}
.navegacion .logo--container .logo {
  width: 90px;
  border-radius: 50%;
  margin-right: 8px;
  box-shadow: inset 2px 3px 4px rgba(0, 0, 0, 0.265);
}
.navegacion .navegacion--nav {
  display: flex;
  list-style: none;
  width: 50%;
  align-items: center;
  justify-content: space-around;
}
.navegacion .navegacion--nav .nav--item {
  width: auto;
  padding: 10px;
  font-size: 0.9rem;
}
.navegacion .navegacion--nav .nav--item:hover {
  background-color: yellow;
  border-radius: 8px;
}
.navegacion .navegacion--nav .nav--item a {
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
}
.navegacion .navegacion--nav .nav--item a:hover {
  cursor: pointer;
}

#check--menu,
.navegacion label {
  display: none;
}

.titulos-index {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
}
.titulos-index .categoria {
  height: 100%;
}

#categoria {
  display: flex;
  height: 300px;
  flex-flow: column wrap;
  gap: 10px;
  justify-content: center;
}
#categoria .continental, #categoria .continental-profesional, #categoria .world-teams {
  text-align: center;
}

.peloton {
  width: 100%;
}
.peloton img {
  width: 100%;
  height: 40%;
}

.colum img {
  width: 750px;
}

.fondo {
  width: 100%;
  height: 70vh;
  background-image: linear-gradient(to top, rgba(16, 16, 98, 0.729) 0%, rgba(65, 9, 9, 0.805) 100%), url(../images/fondo1.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: inline-block;
  text-align: center;
}

.fondo-monumentos {
  width: 100%;
  height: 70vh;
  background-image: linear-gradient(to top, rgba(16, 17, 98, 0.61) 0%, rgba(65, 9, 9, 0.5) 100%), url(../images/tour-flandes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: inline-block;
  text-align: center;
}

.fondo-gt {
  width: 100%;
  height: 70vh;
  background-image: linear-gradient(to top, rgba(16, 16, 98, 0.729) 0%, rgba(65, 9, 9, 0.329) 100%), url(../images/tour-de-france.avif);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: inline-block;
  text-align: center;
}

iframe {
  width: 450px;
  height: 300px;
}

.titulo-m {
  text-align: center;
  margin: 20px;
}

.monumentos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: initial;
  justify-content: space-around;
  gap: 40px;
}
.monumentos .monumentos-2 {
  margin: -324px 1px 150px 900px;
}
.monumentos .box-1, .monumentos .box-2, .monumentos .box-3, .monumentos .box-4, .monumentos .box-5 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 150px;
  padding: 5px;
  border-left: 1px solid;
}

.titulo-gt {
  text-align: center;
}

.grandes-vueltas {
  width: 100%;
  position: relative;
}
.grandes-vueltas .giro-de-italia {
  display: flex;
  width: 97%;
  margin-left: 15px;
  overflow-x: scroll;
  gap: 1.4rem;
  scrollbar-width: none;
}
.grandes-vueltas .tour-de-francia {
  display: flex;
  width: 97%;
  margin-left: 15px;
  overflow-x: 15px;
  gap: 1.4rem;
  scrollbar-width: none;
}
.grandes-vueltas .vuelta-españa {
  display: flex;
  width: 97%;
  margin-left: 15px;
  overflow-x: scroll;
  gap: 1.4rem;
  scrollbar-width: none;
}

.titulo-equipos {
  display: flex;
  justify-content: center;
  border: 1px solid;
}

.col {
  border: 1px solid black;
}
.col .trek {
  width: 310px;
}

.formulario {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formulario form {
  padding: 50px 55px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-align: center;
  width: 700px;
}
.formulario .input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.formulario label {
  color: black;
  font-size: 0.9375rem;
  font-weight: 600;
  margin-bottom: 15px;
}
.formulario input, .formulario textarea {
  padding: 17px 25px;
  border-radius: 25px;
  margin-bottom: 20px;
  border: 2px solid black;
  outline: none;
}
.formulario .form-txt {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.formulario .form-txt a {
  color: #76B28E;
  font-size: 0.875rem;
  font-weight: 600;
}
.formulario .btn {
  background-color: green;
}

.pie-de-pagina {
  width: 100%;
}
.pie-de-pagina .pdp {
  display: flex;
  justify-content: center;
  top: 0;
  z-index: 10;
  align-content: center;
  position: relative;
  text-align: center;
}
.pie-de-pagina .logo--footer {
  width: 75px;
}
.pie-de-pagina .texto-pdp {
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-content: center;
  color: rgba(0, 0, 0, 0.342);
}
.pie-de-pagina .texto-pdp .sfl {
  position: relative;
  text-align: center;
}

.contenedor--personal {
  width: 100%;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
  height: 70vh;
  max-width: 1440px;
}

.row-per {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

[class*=colum-], .colum {
  width: 100%;
  max-width: 100%;
  padding-left: 12px;
  padding-right: 12px;
}

.border-test {
  border: 1px solid yellow;
}

.colum {
  flex: 1 0 0;
}

.colum-per {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: grid;
  place-items: center;
  border: 1px solid blue;
}

.colum-text {
  text-align: center;
}

@media screen and (min-width: 390px) {
  .colum-xs {
    flex: 1 0 0;
  }
  .colum-xs-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .colum-xs-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .colum-xs-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .colum-xs-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .colum-xs-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .colum-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .colum-xs-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .colum-xs-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .colum-xs-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .colum-xs-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .colum-xs-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .colum-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 576px) {
  .colum-sm {
    flex: 1 0 0;
  }
  .colum-sm-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .colum-sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .colum-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .colum-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .colum-sm-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .colum-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .colum-sm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .colum-sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .colum-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .colum-sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .colum-sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .colum-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .colum-md {
    flex: 1 0 0;
  }
  .colum-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .colum-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .colum-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .colum-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .colum-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .colum-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .colum-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .colum-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .colum-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .colum-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .colum-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .colum-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .colum-lg {
    flex: 1 0 0;
  }
  .colum-lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .colum-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .colum-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .colum-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .colum-lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .colum-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .colum-lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .colum-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .colum-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .colum-lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .colum-lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .colum-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .colum-xl {
    flex: 1 0 0;
  }
  .colum-xl-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .colum-xl-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .colum-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .colum-xl-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .colum-xl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .colum-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .colum-xl-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .colum-xl-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .colum-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .colum-xl-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .colum-xl-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .colum-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.colum {
  flex: 1 0 0;
}

.colum-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.colum-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.colum-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.colum-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.colum-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.colum-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.colum-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.colum-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.colum-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.colum-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.colum-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.colum-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (max-width: 1240px) {
  .navegacion--nav {
    display: flex;
    flex-direction: row;
    justify-content: initial;
    align-items: initial;
    align-content: initial;
    position: relative;
    right: 260px;
  }
  .navegacion--nav .logo--container .logo {
    width: 60%;
  }
  .navegacion--nav .nav--item {
    width: auto;
    padding: 10px;
    font-size: 1.5rem;
  }
  .navegacion--nav .nav--item a {
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
  }
  .navegacion--nav .nav--item a:hover {
    cursor: pointer;
  }
  #check--menu:checked ~ .navegacion--nav {
    display: flex;
    background-color: rgba(118, 178, 142, 0.4901960784);
    width: 100%;
    height: 40vh;
    position: absolute;
    left: 0;
    z-index: 10;
    top: 52px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .fondo {
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(to top, rgba(16, 16, 98, 0.729) 0%, rgba(65, 9, 9, 0.805) 100%), url(../images/fondo1.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: inline-block;
    text-align: center;
  }
  .fondo-monumentos {
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(to top, rgba(16, 17, 98, 0.61) 0%, rgba(65, 9, 9, 0.5) 100%), url(../images/tour-flandes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: inline-block;
    text-align: center;
  }
  .fondo-gt {
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(to top, rgba(16, 16, 98, 0.729) 0%, rgba(65, 9, 9, 0.329) 100%), url(../images/tour-de-france.avif);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: inline-block;
    text-align: center;
  }
}
@media (max-width: 920px) {
  .navegacion label {
    display: block;
  }
  .navegacion .navegacion--nav {
    display: none;
  }
  .navegacion--nav .nav-item {
    display: flex;
    font-size: 0.7rem;
    padding: 5px;
    position: relative;
    right: 35px;
  }
  #check--menu:checked ~ .navegacion--nav {
    display: flex;
    background-color: rgba(118, 178, 142, 0.4901960784);
    width: 100%;
    height: 30vh;
    position: absolute;
    left: 0;
    z-index: 10;
    top: 75px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .logo--container .logo {
    width: 60%;
  }
  .fondo {
    width: 100%;
    height: 30vh;
    background-image: linear-gradient(to top, rgba(16, 16, 98, 0.729) 0%, rgba(65, 9, 9, 0.805) 100%), url(../images/fondo1.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: inline-block;
    text-align: center;
  }
  .fondo-monumentos {
    width: 100%;
    height: 40vh;
    background-image: linear-gradient(to top, rgba(16, 17, 98, 0.61) 0%, rgba(65, 9, 9, 0.5) 100%), url(../images/tour-flandes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial;
    position: relative;
    display: inline-block;
    text-align: center;
  }
  .fondo-gt {
    width: 100%;
    height: 40vh;
    background-image: linear-gradient(to top, rgba(16, 16, 98, 0.729) 0%, rgba(65, 9, 9, 0.329) 100%), url(../images/tour-de-france.avif);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: inline-block;
    text-align: center;
  }
  h3 {
    font-size: 1.3rem;
  }
  #categoria {
    display: flex;
    flex-flow: row wrap;
    height: 350px;
    font-size: 0.75rem;
    justify-content: space-between;
  }
  #categoria .continental {
    position: relative;
    right: 25px;
  }
  #categoria .continental-profesional {
    position: relative;
    right: 25px;
  }
  #categoria .world-teams {
    position: relative;
    right: 25px;
  }
  .contenedor--personal .colum img {
    width: 550px;
  }
  .contenedor--personal .colum-text {
    width: 100%;
    height: 380px;
    text-align: center;
    overflow: scroll;
    font-size: 0.8rem;
  }
  .titulo-gt {
    position: relative;
    left: 20px;
  }
  .grandes-vueltas iframe {
    width: 240px;
    height: 200px;
  }
}
@media (max-width: 820px) {
  .navegacion label {
    display: block;
  }
  .navegacion .navegacion--nav {
    display: none;
  }
  .navegacion--nav .nav-item {
    display: flex;
    font-size: 0.7rem;
    padding: 5px;
    position: relative;
    right: 35px;
  }
  #check--menu:checked ~ .navegacion--nav {
    display: flex;
    background-color: rgba(118, 178, 142, 0.4901960784);
    width: 100%;
    height: 30vh;
    position: absolute;
    left: 0;
    z-index: 10;
    top: 75px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .logo--container .logo {
    width: 60%;
  }
  .fondo {
    width: 100%;
    height: 30vh;
    background-image: linear-gradient(to top, rgba(16, 16, 98, 0.729) 0%, rgba(65, 9, 9, 0.805) 100%), url(../images/fondo1.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: inline-block;
    text-align: center;
  }
  .fondo-monumentos {
    width: 100%;
    height: 40vh;
    background-image: linear-gradient(to top, rgba(16, 17, 98, 0.61) 0%, rgba(65, 9, 9, 0.5) 100%), url(../images/tour-flandes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial;
    position: relative;
    display: inline-block;
    text-align: center;
  }
  .fondo-gt {
    width: 100%;
    height: 40vh;
    background-image: linear-gradient(to top, rgba(16, 16, 98, 0.729) 0%, rgba(65, 9, 9, 0.329) 100%), url(../images/tour-de-france.avif);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: inline-block;
    text-align: center;
  }
  h3 {
    font-size: 1.3rem;
  }
  #categoria {
    display: flex;
    flex-flow: row wrap;
    height: 350px;
    font-size: 0.75rem;
    justify-content: space-between;
  }
  #categoria .continental {
    position: relative;
    right: 25px;
  }
  #categoria .continental-profesional {
    position: relative;
    right: 25px;
  }
  #categoria .world-teams {
    position: relative;
    right: 25px;
  }
  .contenedor--personal .colum img {
    width: 500px;
  }
  .contenedor--personal .colum-text {
    width: 100%;
    height: 380px;
    text-align: center;
    overflow: scroll;
    font-size: 0.8rem;
  }
  .titulo-gt {
    position: relative;
    left: 20px;
  }
  .grandes-vueltas iframe {
    width: 240px;
    height: 200px;
  }
}
@media (max-width: 768px) {
  .navegacion label {
    display: block;
  }
  .navegacion .navegacion--nav {
    display: none;
  }
  .navegacion--nav .nav-item {
    display: flex;
    font-size: 0.7rem;
    padding: 5px;
    position: relative;
    right: 35px;
  }
  #check--menu:checked ~ .navegacion--nav {
    display: flex;
    background-color: rgba(118, 178, 142, 0.4901960784);
    width: 100%;
    height: 30vh;
    position: absolute;
    left: 0;
    z-index: 10;
    top: 75px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .logo--container .logo {
    width: 60%;
  }
  #categoria {
    display: flex;
    flex-flow: row wrap;
    height: 350px;
    font-size: 12px;
    justify-content: space-between;
  }
  #categoria .continental {
    position: relative;
    right: 20px;
  }
  #categoria .continental-profesional {
    position: relative;
    right: 25px;
  }
  .titulo-gt {
    position: relative;
    left: 20px;
  }
  .grandes-vueltas iframe {
    width: 240px;
    height: 200px;
  }
}
@media (max-width: 440px) {
  .navegacion label {
    display: block;
  }
  .navegacion .navegacion--nav {
    display: none;
  }
  .navegacion--nav .nav-item {
    display: flex;
    font-size: 0.7rem;
    padding: 4px;
    position: relative;
    right: 35px;
  }
  #check--menu:checked ~ .navegacion--nav {
    display: flex;
    background-color: rgba(118, 178, 142, 0.4901960784);
    width: 100%;
    height: 30vh;
    position: absolute;
    left: 0;
    z-index: 10;
    top: 75px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .logo--container .logo {
    width: 100%;
  }
  h2, h3 {
    font-size: 1rem;
  }
  #categoria {
    display: flex;
    flex-flow: row wrap;
    height: 450px;
    font-size: 1rem;
    justify-content: space-between;
  }
  #categoria .continental {
    position: relative;
    left: 80px;
    font-size: 0.7rem;
  }
  #categoria .continental-profesional {
    position: relative;
    left: 110px;
    font-size: 0.7rem;
    bottom: 75px;
  }
  #categoria .world-teams {
    position: relative;
    top: 65px;
    right: 175px;
    font-size: 0.7rem;
  }
  .contenedor--personal .colum img {
    width: 250px;
  }
  .contenedor--personal .colum-text {
    width: 100%;
    height: 280px;
    text-align: center;
    overflow: scroll;
    font-size: 0.75rem;
  }
  .monumetos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: initial;
    justify-content: space-around;
  }
  .monumetos iframe {
    width: 350px;
    height: 300px;
  }
  .monumetos .box-1, .monumetos .box-2, .monumetos .box-3, .monumetos .box-4, .monumetos .box-5 {
    border: 0;
  }
  .monumetos div ul {
    font-size: 0.7rem;
    position: relative;
    right: 70px;
  }
  .titulo-gt {
    font-size: 1.3rem;
    position: relative;
    left: 5px;
  }
  .grandes-vueltas iframe {
    width: 350px;
    height: 300px;
  }
}
@media (max-width: 390px) {
  .navegacion label {
    display: block;
  }
  .navegacion .navegacion--nav {
    display: none;
  }
  .navegacion--nav .nav-item {
    display: flex;
    font-size: 0.7rem;
    padding: 4px;
    position: relative;
    right: 35px;
  }
  #check--menu:checked ~ .navegacion--nav {
    display: flex;
    background-color: rgba(118, 178, 142, 0.4901960784);
    width: 100%;
    height: 30vh;
    position: absolute;
    left: 0;
    z-index: 10;
    top: 75px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .logo--container .logo {
    width: 100%;
  }
  h2, h3 {
    font-size: 1rem;
  }
  #categoria {
    display: flex;
    flex-flow: row wrap;
    height: 450px;
    font-size: 1rem;
    justify-content: space-between;
  }
  #categoria .continental {
    position: relative;
    left: 60px;
    font-size: 0.7rem;
  }
  #categoria .continental-profesional {
    position: relative;
    left: 90px;
    font-size: 0.7rem;
    bottom: 75px;
  }
  #categoria .world-teams {
    position: relative;
    top: 65px;
    right: 145px;
    font-size: 0.7rem;
  }
  .contenedor--personal .colum img {
    width: 250px;
  }
  .contenedor--personal .colum-text {
    width: 100%;
    height: 250px;
    text-align: center;
    overflow: scroll;
    font-size: 0.75rem;
  }
  .monumetos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: initial;
    justify-content: space-around;
  }
  .monumetos iframe {
    width: 350px;
    height: 300px;
  }
  .monumetos .box-1, .monumetos .box-2, .monumetos .box-3, .monumetos .box-4, .monumetos .box-5 {
    border: 0;
  }
  .monumetos div ul {
    font-size: 0.7rem;
    position: relative;
    right: 70px;
  }
  .titulo-gt {
    font-size: 1.3rem;
    position: relative;
    left: 5px;
  }
  .grandes-vueltas iframe {
    width: 350px;
    height: 300px;
  }
}
@media (max-width: 375px) {
  .navegacion label {
    display: block;
  }
  .navegacion .navegacion--nav {
    display: none;
  }
  .navegacion .navegacion--nav .nav-item {
    font-size: 0.8rem;
  }
  #check--menu:checked ~ .navegacion--nav {
    display: flex;
    background-color: rgba(118, 178, 142, 0.4901960784);
    width: 100%;
    height: 30vh;
    position: absolute;
    left: 0;
    z-index: 10;
    top: 75px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .logo--container .logo {
    width: 40%;
  }
  .fondo {
    width: 100%;
    height: 30vh;
    background-image: linear-gradient(to top, rgba(16, 16, 98, 0.729) 0%, rgba(65, 9, 9, 0.805) 100%), url(../images/fondo1.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: inline-block;
    text-align: center;
  }
  .fondo-monumentos {
    width: 100%;
    height: 30vh;
    background-image: linear-gradient(to top, rgba(16, 17, 98, 0.61) 0%, rgba(65, 9, 9, 0.5) 100%), url(../images/tour-flandes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: inline-block;
    text-align: center;
  }
  .fondo-gt {
    width: 100%;
    height: 30vh;
    background-image: linear-gradient(to top, rgba(16, 16, 98, 0.729) 0%, rgba(65, 9, 9, 0.329) 100%), url(../images/tour-de-france.avif);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: inline-block;
    text-align: center;
  }
  h2, h3 {
    font-size: 1rem;
  }
  #categoria {
    display: flex;
    flex-flow: row wrap;
    height: 450px;
    font-size: 1rem;
    justify-content: space-between;
  }
  #categoria .continental {
    position: relative;
    right: 15px;
    left: 50px;
    font-size: 0.7rem;
  }
  #categoria .continental-profesional {
    position: relative;
    left: 75px;
    font-size: 0.7rem;
    bottom: 75px;
  }
  #categoria .world-teams {
    position: relative;
    top: 65px;
    right: 145px;
    font-size: 0.7rem;
  }
  .contenedor--personal .colum img {
    width: 230px;
  }
  .contenedor--personal .colum-text {
    width: 100%;
    height: 250px;
    text-align: center;
    overflow: scroll;
    font-size: 0.75rem;
  }
  .monumentos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: initial;
    justify-content: space-around;
  }
  .monumentos iframe {
    width: 350px;
    height: 300px;
  }
  .monumentos .box-1, .monumentos .box-2, .monumentos .box-3, .monumentos .box-4, .monumentos .box-5 {
    border: 0;
  }
  .monumentos div ul {
    font-size: 0.7rem;
    position: relative;
    right: 70px;
  }
  .titulo-gt {
    font-size: 1.3rem;
    position: relative;
    left: 5px;
  }
  .grandes-vueltas iframe {
    width: 350px;
    height: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
