@use "sass:math";
@import "./partials/variables";
@import "./partials/reset";



body {
    font-family: 'Onest', sans-serif;
    font-family: 'Quicksand', sans-serif;
}
@import "./partials/barranav";
@import "./partials/index";
@import "./partials/grillas";



// fondos
.fondo {
    width: $ancho;
    height: 70vh;
    background-image: linear-gradient(to top, rgba(16, 16, 98, 0.729) 0%, rgba(65, 9, 9, 0.805) 100%), url(../images/fondo1.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: inline-block;
    text-align: center;
}
.fondo-monumentos {
    width: $ancho;
    height: 70vh;
    background-image: linear-gradient(to top, rgba(16, 17, 98, 0.61) 0%, rgba(65, 9, 9, 0.5) 100%), url(../images/tour-flandes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: inline-block;
    text-align: center;
}
.fondo-gt {
    width: $ancho;
    height: 70vh;
    background-image: linear-gradient(to top, rgba(16, 16, 98, 0.729 ) 0%, rgba(65, 9, 9, 0.329) 100%), url(../images/tour-de-france.avif);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: inline-block;
    text-align: center;
}
// fin de fondos
// iframe
iframe {
    width: 450px;
    height: 300px;
}
// fin de iframe
// footer
.pie-de-pagina {
    width: $ancho;

    .pdp {
        display: flex;
        justify-content: center;
        top: 0;
        z-index: 10;
        align-content: center;
        position: relative;
        text-align: center;
    }
    .logo--footer {
        width: 75px;
    }
    .texto-pdp {
        display: flex;
        width: $ancho;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-content: center;
        color: rgba(0, 0, 0, 0.342);

        .sfl {
            position: relative;
            text-align: center;
        }
    }
}
@import "./partials/monumentos";
@import "./partials/grandtours";
@import "./partials/teams";
@import "./partials/contacto";

@import "./partials/queries"