@use "sass:math";
@import "./partials/variables";
@import "./partials/reset";
body {
    font-family: 'Onest', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

// barra de navegacion
.navegacion {
    width: $ancho;
    height: 20%;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo--container {
        display: flex;
        width: 10%;
        align-items: center;
        justify-content: space-around;

        .logo {
            width: 90px;
            border-radius: 50%;
            margin-right: 8px;
            box-shadow: inset 2px 3px 4px rgba(0, 0, 0, 0.265);
        }
    }
    .navegacion--nav {
        display: flex;
        list-style: none;
        width: math.div($ancho, 2);
        align-items: center;
        justify-content: space-around;

        .nav--item {
            width: auto;
            padding: 10px;
            font-size: .8rem;

            a {
                color: black;
                display: flex;
                align-items: center;
                justify-content: space-around;
                text-decoration: none;
                &:hover {
                    cursor: pointer;

                }
            }
        }
    }
}
// menu mobile
#check--menu, 
.navegacion label {
    display: none;
}
// fin de barra de navegacion

    // fondos
.fondo {
    width: $ancho;
    height: 70vh;
    background-image: linear-gradient(to top, rgba(16, 16, 98, 0.729) 0%, rgba(65, 9, 9, 0.805) 100%), url(../images/fondo1.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: inline-block;
    text-align: center;
}
.fondo-monumentos {
    width: $ancho;
    height: 70vh;
    background-image: linear-gradient(to top, rgba(16, 17, 98, 0.61) 0%, rgba(65, 9, 9, 0.5) 100%), url(../images/tour-flandes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: inline-block;
    text-align: center;
}
.fondo-gt {
    width: $ancho;
    height: 70vh;
    background-image: linear-gradient(to top, rgba(16, 16, 98, 0.729 ) 0%, rgba(65, 9, 9, 0.329) 100%), url(../images/tour-de-france.avif);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: inline-block;
    text-align: center;
}
// fin de fondos

// index
.titulos-index {
    width: $ancho;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;

    .categoria {
        height: $alto;
    }
}
#categoria {
    display: flex;
    height: 300px;
    flex-flow: column wrap;
    gap: 10px;
    justify-content: center;

    .continental, .continental-profesional, .world-teams {
        text-align: center;
    }
}
.peloton {
    width: $ancho;

    img {
        width: $ancho;
        height: 40%;
    }
}
.contenedor--personal {
    width: $ancho;
    padding-left: math.div($gap, 2);
    padding-right: math.div($gap, 2);

    // a modo visual
    height: 100vh;
    max-width: 1024px;
}

.rowper {
    margin-top: math.div($gap, 2);
    display: flex;
    flex-wrap: wrap;
    margin-left: math.div($gap, -2);
    margin-right: math.div($gap, -2);
}


.border-test {
    border: 1px solid yellow;
}

.colsper-ej {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: grid;
    place-items: center;
    border: 1px solid blue;
}
// fin de index

// iframe
iframe {
    width: 450px;
    height: 300px;
}
// fin de iframe

// monumentos
.titulo-m {
    text-align: center;
    margin: 20px;
}
.monumentos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: initial;
    justify-content: space-around;
    gap: 40px;

    .monumentos-2 {
        margin: -324px 1px 150px 900px;
    }

    .box-1, .box-2, .box-3, .box-4, .box-5 {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 150px;
        padding: 5px;
        border-left: 1px solid;
    }
}
// fin de monumentos

// grandes vueltas
.titulo-gt {
    text-align: center;
}
.grandes-vueltas {
    width: $ancho;
    position: relative;

    .giro-de-italia {
        display: flex;
        width: 97%;
        margin-left: 15px;
        overflow-x: scroll;
        gap: 1.4rem;
        scrollbar-width: none;
    }
    .tour-de-francia {
        display: flex;
        width: 97%;
        margin-left: 15px;
        overflow-x: 15px;
        gap: 1.4rem;
        scrollbar-width: none;
    }
    .vuelta-españa {
        display: flex;
        width: 97%;
        margin-left: 15px;
        overflow-x: scroll;
        gap: 1.4rem;
        scrollbar-width: none;
    }
}
// fin de grandes vueltas

// equipos
.titulo-equipos {
    display: flex;
    justify-content: center;
    border: 1px solid;
}
.col {
    border: 1px solid black;

    .trek {
        width: 310px;
    }
}
// fin de equipos

// contacto
.formulario {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    form {
        padding: 50px 55px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        text-align: center;
        width: 700px;
    }
    .input-group {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    label {
        color: black;
        font-size: .9375rem;
        font-weight: 600;
        margin-bottom: 15px;
    }
    input, textarea {
        padding: 17px 25px;
        border-radius: 25px;
        margin-bottom: 20px;
        border: 2px solid black;
        outline: none;
    }
    .form-txt {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    .form-txt a {
        color: #76B28E;
        font-size: .875rem;
        font-weight: 600;
    }
    .btn {
        background-color: green;
    }
}
// fin de contacto

// footer
.pie-de-pagina {
    width: $ancho;

    .pdp {
        display: flex;
        justify-content: center;
        top: 0;
        z-index: 10;
        align-content: center;
        position: relative;
        text-align: center;
    }
    .logo--footer {
        width: 75px;
    }
    .texto-pdp {
        display: flex;
        width: $ancho;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-content: center;
        color: rgba(0, 0, 0, 0.342);

        .sfl {
            position: relative;
            text-align: center;
        }
    }
}

@import "./partials/queries"