$fuente:"Times", serif;
$alto:100%;
$ancho:100%;
$tamanio:1rem;
$h-px:1px;

// grillas

$colums: 12;

$gap:24px;

// colores

$primario: #0dcaf0;
$secundario: #198754;
$peligro: #dc3545;
$oscuro: #212529;
$amarillo: #ffc107;